{% extends 'layout.html' %}

{% block styles %}
<link href="/static/styles/details.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h2> Movie Catalog </h2>
<div class="catalog">

    <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class='mini-image'>Pic</th>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Price</th>
                    <th>Stock</th>
                </tr>
            </thead>

            <tbody>
    <!-- render the tr -->
            </tbody>
        </table>

</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script src=" {% static 'scripts/catalog.js' %}"></script>
{% endblock%}